@import "var";
@import "fonts";
@import "mixins";

html {
  font-family: Lora, serif;
  font-size: 16px;
  @include for-phone-only {
    font-size: 15px;
  }
}
body {
  font-family: Lora, sans-serif;
  color: $black;
  text-align: center;
  margin: 0;
}
a,
ul,
li {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
button,
.btn {
  border: 2px solid #000;
  border-radius: 20px;
  font-family: inherit;
  background: none;
  font-size: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: rgb(221, 221, 221);
  }
  &:disabled {
    cursor: not-allowed;
    border-color: gray;
  }
}
.grmk {
  font-family: Mukta Mahee;
  font-weight: 400;
  &-8 {
    font-weight: 800;
  }
}
/* Header */
.site-name {
  margin: 20px 0;
  display: block;
  h1,
  h2 {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
  }
  h2 {
    font-size: 2rem;
    margin-top: -20px;
  }
}
section {
  margin: auto;
  padding: 0 3%;
  max-width: 1200px;
}
section.today {
  position: relative;
  top: -90px;
  height: 0;
  text-align: left;
  p {
    margin: 0;
    font-size: 0.8rem;
    &:first-child {
      font-weight: 800;
    }
  }
  @include for-tablet-portrait-up {
    top: 0;
    height: auto;
    text-align: center;
    margin-bottom: 5px;
  }
}
.master-nav {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid $black;
  ul {
    margin: 0;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    li {
      padding: 0 10px;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #e8e8e8;
        border-radius: 5px;
      }
      a.active {
        font-weight: 800;
      }
    }
  }
}
/* End - Header */

/* Newsletter */
main {
  margin: 30px 0;
}
.nwslt-wrapper {
  /* background-color: rgb(250, 250, 250); */
}
section.edition-meta {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  button {
    width: max-content;
    padding: 5px 30px;
    span {
      display: block;
      font-size: 0.7rem;
      font-style: italic;
    }
  }
  @include for-phone-only {
    grid-template-columns: 1fr;
    p {
      margin: 0;
    }
    h3 {
      margin-top: 5px;
    }
  }
}
article iframe {
  margin: 30px 0;
  height: 100vh;
}
.download {
  padding: 5px 20px;
}
/* End - Newsletter */

/* Paper Grid */
.paper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  gap: 30px;
  article {
    display: flex;
    flex-direction: column;
    border: 1px solid #cecece;
    border-radius: 5px;
    text-align: left;
    width: 350px;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #d6c8b9;
    }
    .meta {
      padding: 15px 20px;
    }
    img {
      width: 100%;
      height: 350px;
      filter: grayscale(0);
    }
    h1 {
      margin: 5px 0;
    }
    p {
      margin: 5px 0;
      &.date {
        margin-top: 0;
        font-style: italic;
        color: $grey;
        font-size: 0.8rem;
      }
      span {
        color: $grey;
        background-color: #e8e8e8;
        padding: 3px 10px;
        margin: 0px 3px;
        border-radius: 20px;
        font-size: 0.8rem;
      }
    }
  }
}

/* Footer */
footer {
  padding: 30px 0;
  section {
    border-top: 1px solid #cecece;
    display: flex;
    align-items: center;
    p {
      margin-right: 30px;
      color: $grey;
    }
    ul {
      display: flex;
      li {
        padding: 0 10px;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
        background-color: #ececec;
        margin: 0 5px;
        &:hover {
          background-color: #e0e0e0;
        }
        a.active {
          font-weight: 800;
        }
      }
    }
    @include for-phone-only {
      flex-direction: column-reverse;
      padding: 20px 0;
      padding: 20px 0 0;
      border-bottom: 1px solid #cecece;
      p {
        font-size: 0.9rem;
        margin-right: 0;
      }
    }
  }
  pre {
    color: $grey;
    font-size: 0.8rem;
    a {
      text-decoration: underline;
    }
  }
}
/* Footer End */

/* About */
section.about {
  max-width: 600px;
}
/* About End */

/* Contact */
section.contact {
  max-width: 600px;
  h3 {
    margin-bottom: 0;
  }
  a {
    color: #1c00df;
  }
}
/* Contact End */
